{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "myDSV public API"
  },
  "host": "public.api.dsv.com",
  "basePath": "/v1/mydsv",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "anonymous": {
      "type": "basic"
    }
  },
  "paths": {
    "/shipments": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListParamsDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ShipmentSummaryDTO"
              }
            }
          }
        }
      }
    },
    "/shipments/tmsId/{tmsId}": {
      "get": {
        "consumes": [
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "tmsId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
            },
            "schema": {
              "$ref": "#/definitions/ShipmentDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
            },
            "schema": {
              "$ref": "#/definitions/ErrorDTO"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
            }
          }
        }
      }
    },
    "/shipments/bookingId/{bookingId}": {
      "get": {
        "consumes": [
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "bookingId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
            },
            "schema": {
              "$ref": "#/definitions/ShipmentDTO"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
            },
            "schema": {
              "$ref": "#/definitions/ErrorDTO"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
            }
          }
        }
      }
    },
    "/shipments/reference/{reference}": {
      "get": {
        "consumes": [
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "reference",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ShipmentSummaryDTO"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
            },
            "schema": {
              "$ref": "#/definitions/ErrorDTO"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AddressDTO": {
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "instructions": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zipCode": {
          "type": "string"
        }
      },
      "required": [
        "address1",
        "countryCode",
        "city",
        "name"
      ]
    },
    "ContactPersonDTO": {
      "properties": {
        "email": {
          "type": "string"
        },
        "empty": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "telephone": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "DateTimeDTO": {
      "description": "Date and time specification for the booking",
      "properties": {
        "deliveryDate": {
          "type": "integer",
          "example": "1527717600000"
        },
        "deliveryTimeEnd": {
          "type": "integer"
        },
        "deliveryTimeStart": {
          "type": "integer"
        },
        "pickupDate": {
          "type": "integer",
          "example": "1527717600000"
        },
        "pickupTimeEnd": {
          "type": "integer"
        },
        "pickupTimeStart": {
          "type": "integer"
        }
      },
      "required": [
        "pickupDate"
      ]
    },
    "EventDTO": {
      "properties": {
        "code": {
          "type": "string"
        },
        "date": {
          "type": "number",
          "description": "timestamp millis"
        },
        "history": {
          "type": "array",
          "items": {
            "description": "#/definitions/EventDTO"
          }
        },
        "location": {
          "$ref": "#/definitions/LocationDTO"
        },
        "scopeType": {
          "type": "string"
        }
      }
    },
    "ListParamsDTO": {
      "properties": {
        "bookedBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deliveryDate": {
          "type": "string"
        },
        "pickupDate": {
          "type": "string"
        },
        "statuses": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DRAFT",
              "BOOKED",
              "IN_PROGRESS",
              "IN_TRANSIT",
              "COMPLETED"
            ]
          }
        },
        "suppliers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transports": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ROAD",
              "AIR",
              "SEA",
              "RAIL"
            ]
          }
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SENDER",
              "RECEIVER",
              "DOMESTIC",
              "CROSS_TRADE"
            ]
          }
        }
      }
    },
    "LocationDTO": {
      "description": "Location for events of the shipment",
      "properties": {
        "code": {
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "example": "DE"
        },
        "place": {
          "type": "string",
          "example": "Berlin"
        }
      }
    },
    "PartyDTO": {
      "properties": {
        "address": {
          "$ref": "#/definitions/AddressDTO"
        },
        "contact": {
          "$ref": "#/definitions/ContactPersonDTO"
        },
        "type": {
          "type": "string",
          "enum": [
            "BOOKING_PARTY",
            "CARRIER",
            "DELIVERY",
            "FREIGHT_PAYER",
            "NOTIFY",
            "PICKUP",
            "RECEIVER",
            "SENDER"
          ]
        }
      },
      "required": [
        "address",
        "type"
      ]
    },
    "ProductDTO": {
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "ROAD",
            "AIR",
            "SEA",
            "RAIL"
          ]
        },
        "params": {
          "type": "object"
        }
      }
    },
    "ShipmentDTO": {
      "properties": {
        "bookedBy": {
          "type": "string",
          "example": "zenek.bochenek@naszchleb.pl"
        },
        "bookingId": {
          "type": "string",
          "example": "40257084630004027350"
        },
        "dateTime": {
          "$ref": "#/definitions/DateTimeDTO"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventDTO"
          }
        },
        "parties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyDTO"
          }
        },
        "product": {
          "$ref": "#/definitions/ProductDTO"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeValueDTO"
          }
        },
        "shipmentId": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "DRAFT",
            "BOOKED",
            "IN_PROGRESS",
            "IN_TRANSIT",
            "COMPLETED"
          ]
        }
      }
    },
    "ShipmentSummaryDTO": {
      "properties": {
        "bookedBy": {
          "type": "string"
        },
        "bookingId": {
          "type": "string",
          "example": "40257084630004027350"
        },
        "dateTime": {
          "$ref": "#/definitions/DateTimeDTO"
        },
        "parties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyDTO"
          }
        },
        "product": {
          "$ref": "#/definitions/ProductDTO"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeValueDTO"
          }
        },
        "shipmentId": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "DRAFT",
            "BOOKED",
            "IN_PROGRESS",
            "IN_TRANSIT",
            "COMPLETED"
          ]
        }
      }
    },
    "TypeValueDTO": {
      "description": "Stores type-value fields",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ErrorDTO": {
      "properties": {
        "code": {
          "type": "string",
          "example": "ERR12345"
        },
        "development": {
          "$ref": "#/definitions/ErrorDTO$DevelopmentDTO"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO$FieldDTO"
          }
        },
        "message": {
          "type": "string",
          "example": "This message is passed to the application user"
        }
      },
      "required": [
        "message"
      ]
    },
    "ErrorDTO$DevelopmentDTO": {
      "description": "Development details for problem",
      "properties": {
        "exception": {
          "type": "string"
        },
        "message": {
          "type": "string",
          "example": "verbose, plain language description of the problem for the app developer with hints on how to fix it"
        }
      }
    },
    "ErrorDTO$FieldDTO": {
      "description": "Specify fields of error",
      "properties": {
        "code": {
          "type": "string",
          "example": "ERR12345"
        },
        "message": {
          "type": "string",
          "example": "validation error"
        },
        "name": {
          "type": "string",
          "example": "field_name"
        }
      }
    }
  }
}